* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text__section {
    display: flex;
    flex-direction: row;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.normal {
    color: grey;
}